@import "../../../../assets/css//partials/_theme";
@import "../../../../assets/css/partials/_orderStatus";

.statusWrapper {
  color: #fff;
  display: flex;
  justify-content: flex-end;
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;

  .statusItem {
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    padding: 10px;
    user-select: none;
    margin-left: 5px;
    cursor: pointer;
    .statusIndicator {
      width: 15px;
      height: 15px;
      display: inline-block;
      margin-right: 6px;
      border-radius: 50%;
      border: 1px solid #fff;
    }
  }
  .active {
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 9px;
  }
}
