@import "./_theme";

.readyToGo {
  background-color: theme("orderStatus", "readyToGo");
}
.onTheWay {
  background-color: theme("orderStatus", "onTheWay");
}
.inTheQueue {
  background-color: theme("orderStatus", "InTheQueue");
}
.outOfStock {
  background-color: theme("orderStatus", "OutOfStock");
}
