.skeletons {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-radius: 50%;
}

.ordersFooter {
  display: flex;
  div {
    flex: 1;
  }
  .pagination {
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin: 0;
    li {
      float: left;
      margin-right: 10px;
      list-style: none;
      a {
        border-radius: 50%;
        height: 10px;
        width: 10px;
        overflow: hidden;
        color: #fff;
        background-color: #fff;
        display: inline-block;
        cursor: pointer;
        user-select: none;
      }
      .active {
        color: #44dbb0;
        background-color: #44dbb0;
      }
    }

    .hidden {
      display: none !important;
    }
  }
  .pageNumberIndicator {
    display: flex;
    justify-content: flex-end;
    color: #fff;
    .divider {
      width: 1px;
      margin: 0 4px;
      background-color: #fff;
    }
  }
}
