@import "../../../../assets/css/partials/_theme";
@import "../../../../assets/css/partials/_orderStatus";

.orderItem {
  border: 1px solid #88888a;
  width: 100%;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
  margin-bottom: 20px;
  display: flex;
  cursor: pointer;
  .orderStatusIndicator {
    width: 15px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .orderDetails {
    flex: 1;
    padding: 10px 25px;
    display: grid;
    grid-template-columns: 220px 1fr 1fr 1fr 0.5fr;

    .productIntroColumn {
      display: flex;
      .productImage {
        width: 80px;
        height: 80px;
        border-radius: 10px;
        margin-right: 20px;
        flex: 0.7;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
      .productName {
        font-weight: bold;
        font-size: 18px;
        color: #fff;
        flex: 1;
        display: flex;
        align-items: center;
        line-height: 21px;
      }
    }
    .productCategoryColumn {
      color: #86878c;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .productSizeColumn {
      color: #86878c;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .productColorColumn {
      color: #86878c;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .productInitialsColumn {
      color: #fefefe;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .productInitialsContainer {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        border: 1px solid #88888a;
        border-radius: 4px;
      }
    }
  }
}
