.button {
  border: 1px solid #fff;
  padding: 5px 20px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
  margin-right: 10px;
  user-select: none;
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
  }
}
